.header {
	position: relative;
	z-index: 2;
}

.header-container {
	@include flex(center, center, column);
	row-gap: 23px;
	padding: 16px 72px 14px;

	background-color: white;
	border-bottom: 1px solid #EAE8E4;

	@media (max-width: #{$medium - 1 + px}) {
		row-gap: 0;
		@include adaptive-value("padding-left", 72, 12, $medium, $small);
		@include adaptive-value("padding-right", 72, 12, $medium, $small);
	}
}

.layout-3-column {
	@include flex(space-between);
	width: 100%;
}

.burger-button {
	display: none;
	width: 12px;
	height: 12px;
	background: no-repeat left url("../../assets/icons/Burger.svg");
	cursor: pointer;

	&_active {
		background: no-repeat left url("../../assets/icons/Close.svg");
	}

	@media (max-width: #{$medium - 1 + px}) {
		display: block;
	}
}

.search {
	width: 16px;
	height: 16px;
	background: no-repeat left url("../../assets/icons/Search.svg");
	cursor: pointer;
}

.logo {
	width: 118px;
	height: 20px;	
	cursor: pointer;

	@media (max-width: #{$medium - 1 + px}) {
		width: 94px;
		height: 16px;
	}
}

.login {
	width: 16px;
	height: 16px;
	background: no-repeat center url("../../assets/icons/Auth.svg");
	cursor: pointer;
}

.navigation-buttons {
	@include flex();
	column-gap: 9px;
	width: 127px;

	@media (max-width: #{$medium - 1 + px}) {		
		width: 79px;		
	}
}

.header-buttons {
	@include flex();
	column-gap: 20px;

	@media (max-width: #{$medium - 1 + px}) {		
		@include adaptive-value("column-gap", 20, 8, $medium, $small);
		.login {
			display: none;
		}
	}

	.favorites {
		@include flex();
		column-gap: 6px;
	
		&__value {}

		&__icon {
			width: 16px;
			height: 16px;
			background: no-repeat center url("../../assets/icons/favorites.svg");
			cursor: pointer;
		}
	}

	.basket {
		@include flex();
		column-gap: 6px;
	
		&__value {}

		&__icon {
			width: 16px;
			height: 15px;
			background: no-repeat center url("../../assets/icons/Basket.svg");
			cursor: pointer;
		}
	}
}

.main-menu-container {
	@include flex(center);	

	@media (max-width: #{$medium - 1 + px}) {		
		@include disabled;	
		transform: translate(-100%);	
		position: absolute;
		z-index: 0;
	}
}

@keyframes hovering {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

.main-menu {
	@include flex(flex-start, flex-start);
	column-gap: 20px;

	&__item {
		&_active {
			.item-title::after {
				content: "";
				position: absolute;
				left: 0;
				top: 33px;
				width: 100%;
				height: 1px;
				background-color: $title-active-color;
				animation: hovering 0.2s ease-in;		
			}
		}
	}

	.item-title {	
		position: relative;
		cursor: pointer;

		&:hover {
			color: $title-hover-color;			

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 33px;
				width: 100%;
				height: 1px;
				background-color: $title-hover-color;
				animation: hovering 0.2s ease-in;		
			}
		}
	}
}

.sub-menu-container {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 93px;
	@include flex(space-between);
	margin: 0 auto;
	max-width: 1440xp;
	width: 100%;
	padding: 32px 72px;

	background-color: $sub-menu-bg-color;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);

	&_disabled {
		@include disabled;
	}
	
	transition: none;
}

.sub-menu {
	@include flex(center, flex-start, column);
	row-gap: 32px;
	max-width: 418px;
	width: 100%;
	flex-grow: 1;

	cursor: pointer;

	&__item {
		.title:hover {
			color: $title-hover-color;			
			text-decoration: underline;
			text-decoration-color: $title-hover-color;
		}
	}
}
