.header {
	position: relative;
	z-index: 2;
}

.header .container {
	@include flex(center, center, column);
	row-gap: 23px;
	padding: 16px 72px 14px;

	background-color: white;
	border-bottom: 1px solid #EAE8E4;
}

.layout-3-column {
	@include flex(space-between);
	width: 100%;
}

.search {
	width: 103px;
	height: 16px;
	background: no-repeat left url("../../assets/icons/Search.svg");
	cursor: pointer;
}
.logo {
	width: 118px;
	height: 20px;
	background: no-repeat center url("../../assets/images/WildRoseLogo.png");
	cursor: pointer;
}

.header-buttons {
	@include flex();
	column-gap: 20px;

	.login {
		width: 16px;
		height: 16px;
		background: no-repeat center url("../../assets/icons/Auth.svg");
		cursor: pointer;
	}

	.favorites {
			@include flex();
			column-gap: 6px;
		
			&__value {}
	
			&__icon {
				width: 16px;
				height: 16px;
				background: no-repeat center url("../../assets/icons/favorites.svg");
				cursor: pointer;
			}
	}

	.basket {
		width: 16px;
		height: 15px;
		background: no-repeat center url("../../assets/icons/Basket.svg");
		cursor: pointer;
	}
}



.main-menu-container {
	@include flex(center);	
}

@keyframes hovering {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

.main-menu {
	@include flex(flex-start, flex-start);
	column-gap: 20px;

	&__item {
		&_active {
			.item-title::after {
				content: "";
				position: absolute;
				left: 0;
				top: 33px;
				width: 100%;
				height: 1px;
				background-color: $title-active-color;
				animation: hovering 0.2s ease-in;		
			}
		}
	}

	.item-title {	
		position: relative;
		cursor: pointer;

		&:hover {
			color: $title-hover-color;			

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 33px;
				width: 100%;
				height: 1px;
				background-color: $title-hover-color;
				animation: hovering 0.2s ease-in;		
			}
		}
	}
}

.sub-menu-container {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 93px;
	@include flex(space-between);
	margin: 0 auto;
	max-width: 1440xp;
	width: 100%;
	padding: 32px 72px;

	background-color: $sub-menu-bg-color;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);

	&_disabled {
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
		padding: 0;		
		transition: none;
	}
	
	transition: none;
}

.sub-menu {
	@include flex(center, flex-start, column);
	row-gap: 32px;
	max-width: 418px;
	width: 100%;
	flex-grow: 1;

	cursor: pointer;

	&__item {
		.title:hover {
			color: $title-hover-color;			
			text-decoration: underline;
			text-decoration-color: $title-hover-color;
		}
	}
}
