@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

.title {
  font-family: "Roboto", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

h3.title {
  line-height: 16px;
  text-transform: none;
  text-align: left;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 2;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 23px;
  padding: 16px 72px 14px;
  background-color: white;
  border-bottom: 1px solid #EAE8E4;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.search {
  width: 103px;
  height: 16px;
  background: no-repeat left url("../../assets/icons/Search.svg");
  cursor: pointer;
}

.logo {
  width: 118px;
  height: 20px;
  background: no-repeat center url("../../assets/images/WildRoseLogo.png");
  cursor: pointer;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-buttons .login {
  width: 16px;
  height: 16px;
  background: no-repeat center url("../../assets/icons/Auth.svg");
  cursor: pointer;
}

.header-buttons .favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.header-buttons .favorites__icon {
  width: 16px;
  height: 16px;
  background: no-repeat center url("../../assets/icons/favorites.svg");
  cursor: pointer;
}

.header-buttons .basket {
  width: 16px;
  height: 15px;
  background: no-repeat center url("../../assets/icons/Basket.svg");
  cursor: pointer;
}

.main-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@-webkit-keyframes hovering {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hovering {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.main-menu__item_active .item-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 33px;
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-animation: hovering 0.2s ease-in;
          animation: hovering 0.2s ease-in;
}

.main-menu .item-title {
  position: relative;
  cursor: pointer;
}

.main-menu .item-title:hover {
  color: #C15FAC;
}

.main-menu .item-title:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 33px;
  width: 100%;
  height: 1px;
  background-color: #C15FAC;
  -webkit-animation: hovering 0.2s ease-in;
          animation: hovering 0.2s ease-in;
}

.sub-menu-container {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  max-width: 1440xp;
  width: 100%;
  padding: 32px 72px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  -webkit-transition: none;
  transition: none;
}

.sub-menu-container_disabled {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  -webkit-transition: none;
  transition: none;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  max-width: 418px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.sub-menu__item .title:hover {
  color: #C15FAC;
  text-decoration: underline;
  -webkit-text-decoration-color: #C15FAC;
          text-decoration-color: #C15FAC;
}
/*# sourceMappingURL=main.css.map */